body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}
#input {
    font-size: 50px;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.btn {
    font-size: 30px;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}
.btn:active {
    background-color: #004494;
}
.btn:nth-child(4n) {
    background-color: #28a745;
}
.btn:nth-child(4n):hover {
    background-color: #218838;
}
.btn:nth-child(4n):active {
    background-color: #1e7e34;
}
.row {
    display: flex;
    justify-content: center;
}
#clear{
    padding-right: -1px;
    width: 19%;
}
#t{
    width: 17%;
}
#j{
    width: 16%;
}
#r{
    width: 19%;
}
#m{
    width: 63%;
    font-size: 50px;
    height: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
}
#o{
    height: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 51px;
    padding-right: 18px;
    padding-left: 17px;
    background-color:#28a745;
}